*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34, 121, 219);
}

.contato{
    width: 40%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #ccc;
    border: 2px solid gray;
    box-shadow: 4px;
    border-radius: 5px;

}

.contato h3{
    margin-bottom: 40px;
    font-size: 30px;
}

.form{
    display: flex;
    flex-direction: column;
}

.field{
    width: 240px;
    height: 25px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.box{
    height: 80px;
}

.btn{
    width: 240px;
    height: 30px;
    border: 1px solid white;
    background: rgb(14, 61, 131);
    color: #ccc;
    cursor: pointer;
}